<div class="flex tw-flex-row flex-swarp tw-bg-gray-100 gap-4">
    <div class="card tw-w-40 tw-h-40" (click)="goToUser()">
        <div class="card-body">
            <div class="flex tw-flex-col tw-text-center">
                <i class="pi pi-user tw-text-5xl tw-text-green-500 mb-4"></i>
                <div>ผู้ใช้งาน</div>
            </div>
        </div>
    </div>
    <div class="card tw-w-40 tw-h-40" (click)="gotoBed()">
        <div class="card-body">
            <div class="flex tw-flex-col tw-text-center">
                <i class="pi pi-inbox tw-text-5xl tw-text-green-500 mb-4"></i>
                <div>เตียง</div>
            </div>
        </div>
    </div>
    <div class="card tw-w-40 tw-h-40" (click)="gotoStandingOrder()">
        <div class="card-body">
            <div class="flex tw-flex-col tw-text-center">
                <i class="pi pi-file-edit tw-text-5xl tw-text-green-500 mb-4"></i>
                <div>Standing Order</div>
            </div>
        </div>
    </div>
    <div class="card tw-w-40 tw-h-40" (click)="gotoActivity()">
        <div class="card-body">
            <div class="flex tw-flex-col tw-text-center">
                <i class="pi pi-share-alt tw-text-5xl tw-text-green-500 mb-4"></i>
                <div>กิจกรรมพยาบาล</div>
            </div>
        </div>
    </div>
    <div class="card tw-w-40 tw-h-40" (click)="gotoEvaluate()">
        <div class="card-body">
            <div class="flex tw-flex-col tw-text-center">
                <i class="pi pi-heart tw-text-5xl tw-text-green-500 mb-4"></i>
                <div>การประเมินทางพยาบาล</div>
            </div>
        </div>
    </div>
    <div class="card tw-w-40 tw-h-40" (click)="gotoImport()">
        <div class="card-body">
            <div class="flex tw-flex-col tw-text-center">
                <i class="pi pi-upload tw-text-5xl tw-text-green-500 mb-4"></i>
                <div>Import</div>
            </div>
        </div>
    </div>  
</div>