<div class="layout-footer">
    <div class="footer-start">
        <img [src]="'assets/images/logo-' + (colorScheme === 'light' ? 'dark' : 'light') + '.png'" alt="logo" />
        <span class="app-name">Smart IPD</span>
    </div>
    <div class="footer-end">
        <span>© Ubon Deverloper Team</span>
    </div>
</div>
